body {
  font-family: 'PT Serif', serif;
}

.bg-cyan {
  background-color: #c4e2ff;
}

.border-bottom-dark {
  border-bottom: 1px solid #292929;
}

.btn-dark {
  background: #191919;
}

.btn-rounded {
  border-radius: 25px;
}

.nav-header {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}


.aside-btn{
  margin-bottom: 10px;
  
}